.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    margin: 10px auto;
    border: 1px solid #656565;
    color: #f1f1f1;
    border-radius: 10px;

    cursor: pointer;

    transition: .3s all ease;
}
.userActive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    margin: 10px auto;
    border: none;
    color: ghostwhite;
    background-color: #3d3d3d;
    border-radius: 10px;

    cursor: pointer;
}
.user:hover {
    color: ghostwhite;
    background-color: #3d3d3d;
    border: none;
}
.username {
    font-size: 17px;
    padding-left: 20px;
}
.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
}