* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.App {
    width: 640px;
    height: 500px;
    
    -webkit-box-shadow: 0 0 24px 3px rgba(238, 152, 54, 0.4);
    -moz-box-shadow: 0 0 24px 3px rgba(238, 152, 54, 0.4);
    box-shadow: 0 0 24px 3px rgba(238, 152, 54, 0.4);
    
    margin: 80px auto 0;
    border-radius: 20px;
    padding: 10px;

    display: flex;
}